[Unit]
Description=SPF Postfix policy service
After=network.target

[Service]
Type=simple
DynamicUser=yes
ExecStart=/usr/local/bin/spfd serve -dns 127.0.0.53:53 -listen 127.0.0.1:10023
Restart=on-failure
RestartSec=2s
TimeoutStopSec=10s
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

[Install]
WantedBy=multi-user.target
